li.task
{
    padding: 5px 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions {
    display: flex;
    flex-direction: column;
}

li.task h3
{
    margin: 0px;
}

.description {
    max-width: 25ch;
    overflow: auto;
    text-overflow: ellipsis;
}
.urgent {
    color: crimson;
    font-weight: bold;
}

.isDone {
    background: repeating-linear-gradient(
        -45deg,
        rgba(255, 243, 150, 0.5),
        rgba(255, 25, 167, 0.5) 40px,
        rgba(255, 25, 167, 0.5) 40px,
        rgba(80, 255, 249, 0.5) 80px,
        rgba(80, 255, 249, 0.5) 80px,
        rgba(255, 243, 150, 0.5) 120px
    );
}
