.mydiv {
    border: 1px;
    border-color: black;
    border-style: solid;
    margin-left: 600px;
    margin-right: 600px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.bordered {
    border: 2px;
    border-color: black;
    border-style: solid;
}

.myMargin {
    width: 10%;
    margin-right: 5px;
}